[Desktop Entry]
Name=Rencoder
Type=Application
Exec=java -Duser.dir=/opt/rencoder -jar /opt/rencoder/rencoder.jar
Terminal=false
Icon=/opt/rencoder/icons/rencoderblue.png
Comment=Rencoder is a software package developed in Java language, to be used as a friendly front-end for FFmpeg. This tool can be used to convert a wide range of video formats that are supported by FFmpeg.
NoDisplay=false
Categories=AudioVideo;Video
Name[en]=Rencoder
Name[pt]=Rencoder
